{
	"hue":
		{
			"user": "hex_string_goes_here",
			"ip": "192.168.0.1",
			"target_type": "light",
			"target_name": "Hue Color Light 1"
		},

	"spotify":
		{
			"user": "spotify_username",
			"client_id": "hex_string_goes_here",
			"client_secret": "hex_string_goes_here",
			"redirect_uri": "http://localhost/"
		},

	"hueify":
		{
			"force_bright": true,
			"thresh_sat": 60,
			"thresh_bri": 50
		}
}